:root{

/*colors*/

/*PRIMARY*/
--blue: hsl(246, 80%, 60%);
--light-red1: hsl(15, 100%, 70%); /* (work)*/
--soft-blue: hsl(195, 74%, 62%); /* (play)*/
--light-red2: hsl(348, 100%, 68%); /* (study)*/
--lime-green: hsl(145, 58%, 55%); /* (exercise)*/
--violet: hsl(264, 64%, 52%); /* (social)*/
--soft-orange: hsl(43, 84%, 65%); /* (self care)*/

/*NEUTRAL*/
--very-dark-blue: hsl(226, 43%, 10%);
--dark-blue: hsl(235, 46%, 20%);
--dark-blue2: hsl(235, 46%, 35%);
--desaturated-blue: hsl(235, 45%, 61%);
--pale-blue: hsl(236, 100%, 87%);

}

.bg-v-dark-blue{ background-color: var(--very-dark-blue); }
.bg-dark-blue{ background-color: var(--dark-blue); }
.bg-blue{ background-color: var(--blue); }
.bg-soft-blue{ background-color: var(--soft-blue); }
.bg-light-red1{ background-color: var(--light-red1); }
.bg-light-red2{ background-color: var(--light-red2); }
.bg-lime-green{ background-color: var(--lime-green); }
.bg-violet{ background-color: var(--violet); }
.bg-soft-orange{ background-color: var(--soft-orange); }

.text-des-blue{ color: var(--desaturated-blue); }
.text-pale-blue{ color: var(--pale-blue); }

/*typography*/

.ff-rubik{
	font-family: rubik;
}
/*font-family RUBIK*/

.fs-regular{ font-size: 18px; }
.fw-300{ font-weight: 300; }
.fw-400{ font-weight: 400; }
.fw-500{ font-weight: 500; }



*,*:before,*:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--very-dark-blue);
	color: white;
	min-width: 375px;
}

.container{
	padding:  1.5em;
	width:  375px;

}

a{
	text-decoration: none;
	color: var(--desaturated-blue);
}

a:hover, a:focus{
	color: white;
}

.card, .nav-card{
	position: relative;
	display:  flex;
	min-height: 150px;
	border-radius: 1rem;
}

.card{
	padding:  1em;
}

.card img{
	width: 30%;
	aspect-ratio: 1;
	object-fit: cover;
	margin: 1rem;
	border:  3px solid white;
	border-radius: 50%;
}

.user-info{	
	position:relative ;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 70%;
	gap:  .5rem;
}


.title {
	width: 100%;
	margin-top: 2rem;
	text-shadow: 1px 1px var(--dark-blue);
}

.name{
	width: 100%;
	font-size: 1.5rem;
	font-weight:  300;
	margin-bottom: 2rem;
	text-shadow: 1px 1px var(--dark-blue);
}


.nav-card{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1.5em;
}

.nav-card a{
	padding-bottom: 1rem;
}

.category{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items:  flex-start;
	flex-direction: column;
	border-radius: 1rem;
	min-height: 100px;
	overflow: hidden;
	margin-bottom: 1.5em;
}

.category-name{
	font-weight: 500;
}

.category-img{
	position: absolute;
	top: -.5rem;
	right: .2rem;
	padding-right: 1rem;
}

.category-data{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width:  100%;
	border-radius: 1rem;
	transform: translateY(40px);
	cursor: pointer;
}

.category-data:hover{
	background-color: var(--dark-blue2);
}

.title-elipsis, .current-previous{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 1.5em 0 1.5em;
}

.title-elipsis{
	padding-top: 2em;
	padding-bottom: .5em;
}
.current-previous{
	padding-bottom: 4em;
}


.current{
	font-size:  2rem;
	font-weight: 300;
}

.previous{
	font-size: .8rem;
	font-weight: 300;
	color: var(--pale-blue);
}

.daily{ display: none; }
.daily.active{ display: block; }

.weekly{ display: none; }
.weekly.active{ display: block; }

.monthly{ display: none; }
.monthly.active{ display: block; }

@media(min-width: 768px){
	.container{
		display: grid;
		justify-content: center;
		width: 100%;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.5em;
		grid-row-gap: 0em;
		grid-template-rows: 280px 280px;
	}

	.attribution{
		display: none;
	}

	.user{
		grid-column: 1;
		grid-row: 1 / span 2;
	}
	
	.card{
		position: absolute;
		height: 350px;
		top: 0;
		flex-direction: column;
	}

	.card img{
		width: 30%;
		aspect-ratio: 1;
	}

	.nav-card a{
		font-size: 1.2rem;
		width: 100%;
	}

	.name{
		font-size: 2.5rem;
	}

	.nav-card{
		justify-content: flex-end;
		flex-direction: column;
		padding-bottom: 1rem;
	}

	.daily-btn, .weekly-btn, .monthly-btn{
		width:  100%;
		padding-left: 1.5em;
	}

	.category:nth-child(1){
		
	}

	.category-data{
		transform: translateY(45px);
	}

	.title-elipsis{
		margin-bottom: 1em;
	}

	.category-name{
		font-size: 1.5rem;
		font-weight: 400;
	}

	.current-previous{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		padding-bottom: 2em;
	}

	.current{
		font-size: 3rem;
		padding-bottom: .3em;
	}

	.previous{
		font-size: 1.2rem;
		padding-top: .1em;
	}
}